input {
  height: 35px;
  outline: none;
  border: none;
  background-color: #e4e4e4;
  border-radius: 6px;
}

table {
  text-align: center;
}

.del-btn {
  border: none;
  background-color: transparent;
  color: #b90707;
}

.edit-btn {
  border: none;
  background-color: transparent;
  color: #0874cc;
}
