* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  padding: 20px;
} */

.court-form {
  margin-bottom: 20px;
}

.table th,
.table td {
  text-align: center;
}

.btn-add-court,
.btn-update-court {
  margin-top: 26px;
}

.del-btn {
  border: none;
  background-color: transparent;
  color: #b90707;
}

.edit-btn {
  border: none;
  background-color: transparent;
  color: #0874cc;
}
